

.food-card{
    border-radius: 5px;
    padding: 20px 5px;
    transition: all 0.3s ;
    cursor: pointer;
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.food-card:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.food-card h2{
    font-size: 22px;
    margin-top: 15px;
}
.food-card img{
    width: 200px;    
}
.food-card p{
    margin: 10px 0;
    color: grey;
}
.price{
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0 !important;
    color: crimson !important;
}

@media only screen and (max-width:768px){
    .food-card{
        padding: 20px 5px;
        width: 100%;
        margin: auto;
    }
  }