

.foodcard-left-left img{
    width: 80px;
}

.foodCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin: 30px auto;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    padding: 15px 15px;
    border-radius: 10px;    ;
}

.foodcard-left{
    display: flex;
    column-gap: 10px;
}
.foodCard p{
    margin: 0;
}

.black-text{
    font-weight: 600;
}
.blue-text{
    font-weight: 600;
    color: #007ACC;
}

/* increament decreament button in cart div's card  */
.cart-delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 2px solid #ccc;
    padding: 1px  7px;
    border-radius: 5px;
    text-align: center !important;
    cursor: pointer;
    transition: all 0.2s;
}
.cart-delete-button:hover{
    background: darkred;
    color: white;
}
.cart-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    border: 2px solid #ccc;
    padding: 1px  7px;
    border-radius: 5px;
    margin: 10px 0;
}

.foodcard-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.working-button-2{
    padding: 3px 3px;
    color: grey;
    cursor: pointer;
}
.working-button-2:hover{    
    color: black;
}

.cart-heading{
    text-align: center;
}

@media only screen and (max-width:560px){
    .foodCard{
        width: 97%;
    }
}