
.foodcard-left-left img{
    width: 80px;
}

.foodCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 30px 0;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    padding: 15px 15px;
    border-radius: 10px;
}