
.headerInFoodDisplay{
    margin-top: -40px;
    margin-bottom: 50px;
    color: #C2B8C0;
}
.headerInFoodDisplay a{
    color: #C2B8C0;
}
.food-name{
    font-weight: 700;
    margin: 30px 0;
}
.food-desc{
    color: #C2B8C0;
    margin: 15px 0;
}
.food-price{
    font-size: 30px;
    font-weight: 600;
    margin-top: 35px;
}

.cart-button-div{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}
.left-cart-button{
    width: 30%;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F8FD;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.left-cart-button p{
    margin: 0;
    font-weight: 700 ;
    font-size: 20px; 
}
.working-button{
    color: crimson;
    font-weight: 900 !important ;
    font-size: 22px;    
    cursor: pointer;
}

.right-cart-button{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    border: none;
    width: 60%;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: #F91944;
    color: white;
    font-weight: 600;
    font-size: 22px;
    box-shadow: 0 10px 25px rgba(249, 25, 70, 0.353);
}
.right-cart-button p{
    margin: 0;
}



.food-display-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-display-right img{
    width: 80%;
}

.next-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.next-icon-div p{
    color: black;
    font-size: 50px;
}

.next-div-parent{
    position: relative;
}



.next-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-icon-item, .previous-icon-item{
    cursor: pointer;
}
.hidden{
    display: none;
}

@media only screen and (max-width:768px){
    .left-food-section{
        padding: 10px 15px;
    }
    .headerInFoodDisplay{
        margin-top: 0px;
        margin-bottom: 10px;
        color: #C2B8C0;
    }
    .orders-2{
        order: 1;
    }
    .orders-1{
        order: 2;
    }
    .right-cart-button p{
        font-size: 16px;
    }
    .left-cart-button{
        padding: 10px 2px;
    }
}