

.cart-button-div{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
}
.left-cart-button{
    width: 30%;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F8FD;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.left-cart-button p{
    margin: 0;
    font-weight: 700 ;
    font-size: 20px; 
}
.working-button{
    color: crimson;
    font-weight: 900 !important ;
    font-size: 22px;    
    cursor: pointer;
}

.right-cart-button{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    border: none;
    width: 60%;
    padding: 12px 15px;
    border-radius: 10px;
    background-color: #F91944;
    color: white;
    font-weight: 600;
    font-size: 22px;
    box-shadow: 0 10px 25px rgba(249, 25, 70, 0.353);
}
.right-cart-button p{
    margin: 0;
}