

.cart-button-div{
    margin-top: 60px;
}
.left-cart-button{
    width: 150px;
    padding: 12px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F8FD;
}

.left-cart-button p{
    margin: 0;
    font-weight: 700 ;
    font-size: 20px; 
}
.working-button{
    color: crimson;
    font-weight: 900 !important ;
    font-size: 22px;    
    cursor: pointer;
}