
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-div img{
    width: 200px;
    padding: 15px 0;
}
.right-header a{
    text-decoration: none;
    color: #2c2c2c;
    font-weight: 600;
    margin-right: 15px;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s;
}
.commonLink:hover{
    background: #F91944;
    color: white;    
}

@media only screen and (max-width:480px){
    
}