

.banner-div{
    background: url('../../../utilities/images/bannerbackground.png') no-repeat;
    background-position: center ;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.banner-div input{
    height: 50px;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 18px;
}
.banner-div button{
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #F91944;
    color: white;
    border-radius: 20px;
}